# School related
lecture_1/
lecture_2/
lecture_3/
lecture_4/
lecture_5/
lecture_6/
lecture_7/
pymongo_course/

# Environment
.venv/
.idea/
.env

# Quarto
_site/
.quarto/
Personal_project_files/

# Jupyter Notebook
.ipynb_checkpoints/

# Files
main.py

# Windows Scripts
open_jupyter.bat
open_terminal.bat